p {
    text-align: center;
    margin: 3em auto;
    justify-content: center;
    background-color: aliceblue;
    max-width: 40%;
}

form {
    display: flex;
    justify-content: center;

    height: 2em;
    font-size: 1em;

    button {
        background-color: #D93F3F;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        border: 0;
    }
}